# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data_file = "output_data/cities.csv"

cities_df = pd.read_csv(cities_data_file)
cities_df

,city,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bredasdorp,-34.5322,20.0403,54.28,87,16,3.42,ZA,1622680539
1,Chokurdakh,70.6333,147.9167,71.13,21,92,9.24,RU,1622680539
2,Aksarka,66.5606,67.7975,36.93,57,100,19.44,RU,1622680539
3,Faya,18.3851,42.4509,70.32,22,2,3.04,SA,1622680540
4,Kapaa,22.0752,-159.3190,84.18,69,1,1.99,US,1622680540
...,...,...,...,...,...,...,...,...,...
580,Santa Cruz de la Sierra,-17.8000,-63.1667,74.66,83,75,5.19,BO,1622680725
581,Champerico,14.3000,-91.9167,86.54,71,15,5.61,GT,1622680726
582,Bulnes,-36.7423,-72.2985,57.96,84,79,1.95,CL,1622680726
583,Chipata,-13.6333,32.6500,59.20,90,29,5.46,ZM,1622680726
584,Say,13.1007,2.3689,91.96,42,1,12.80,NE,1622680727

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [32]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lat", "Lng"]]
locations.columns = ["latitude", "longitude"]

humidity = cities_df["Humidity"].astype(float)

# Create a poverty Heatmap layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(center=(0, 0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
vacation_cities_df = cities_df[
    (cities_df["Max Temp"] >= 70) &
    (cities_df["Max Temp"] <= 80) &
    (cities_df["Wind Speed"] <= 10) &
    (cities_df["Cloudiness"] == 0)
]
vacation_cities_df

,city,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
69,Itupiranga,-5.1347,-49.3267,77.32,81,0,2.68,BR,1622680561
231,Auriflama,-20.6856,-50.5547,74.44,47,0,1.34,BR,1622680615
333,Behbahān,30.5959,50.2417,79.92,10,0,4.23,IR,1622680649
404,Azuqueca de Henares,40.5669,-3.2599,70.56,63,0,5.23,ES,1622680671

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [48]:
hotel_df = pd.DataFrame([])
hotel_df["Hotel Name"] = []

hotel_list = []

for vacation_city in vacation_cities_df:
    print (f" Finding hotels nearby {city}")

 Finding hotels nearby Itupiranga
 Finding hotels nearby Auriflama
 Finding hotels nearby Behbahān
 Finding hotels nearby Azuqueca de Henares

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure